.loading-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 2em;
  bottom: 10%;
}

.loading-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 3em;
}