.layout-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
}

.bgindex {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-link {
  color: white;
}

.sidebar {
  display: inline;
}

.sidebar-item {
  border-radius: 50px;
}

.sidebar-item.active {
  transition: all 0.3s ease-in-out;
  background-color: #1d56d2;
}

.sidebar-item:hover {
  background-color: #050b50;
}

.sidebar-divider {
  background-color: #fff;
}

.sidebar-icon {
  color: #fff;
}

.sidebar .toggle-menu-btn {
  background-color: transparent;
  border: 0;
  color: white;
}

.sidebar-content {
  min-width: 300px;
  height: 100%;
  padding: 10px;
  color: white;
  overflow-y: auto;
  background-color: #1b1e21;
}
